{
  "jwt":{
    "hmac":{
      "key_path":"/root/.config/mangosteen/hmac.key"
    }
  },
  "email":{
    "smtp":{
      "host":"smtp.qq.com",
      "port":465,
      "user":"qiangqinag_gao@foxmail.com",
      "password":"xxxx"
    }
  }
}